# BigMac SDCPP workflow config
#
# NOTE ON REMOTE PATHS:
#   Values containing $HOME (REMOTE_*) are REMOTE paths on BigMac. They are kept
#   as literal strings here and expanded ON BigMac inside single-quoted SSH
#   commands. They are NEVER expanded against the MacBook's local $HOME.
#   Use remote_eval_path() in sdcpp-lib.sh if you need the resolved value.
#
# NOTE ON LOCAL DIRS:
#   RUNS_DIR / LOGS_DIR / STATE_DIR are relative to the project root
#   (the directory containing bin/ and config/). Absolute paths also work.

SSH_TARGET=westcat
REMOTE_HOST_EXPECTED=bigmac

REMOTE_REPO='$HOME/stable-diffusion.cpp'
REMOTE_STAGING='$HOME/sdcpp-staging'
REMOTE_BUILD_DIR_FILE='$HOME/sdcpp-staging/build_dir.txt'
REMOTE_MODEL='$HOME/sdcpp-staging/models/v1-5-pruned-emaonly.safetensors'
REMOTE_OUTPUT_DIR='$HOME/sdcpp-staging/outputs'
REMOTE_LOG_DIR='$HOME/sdcpp-staging/logs'

REMOTE_SERVER_PORT=7870
LOCAL_TUNNEL_PORT=17870

PROMPT='a lovely cat'
NEGATIVE_PROMPT='blurry, low quality'
WIDTH=512
HEIGHT=512
STEPS=1
CFG_SCALE=7.0
SAMPLER=euler_a

DEFAULT_OUTPUT_FORMAT=png
RUNS_DIR='../runs'
LOGS_DIR='../logs'
STATE_DIR='../state'
